spring:
  profiles:
    active: dev

#公共配置与profiles选择无关 mapperLocations指的路径是src/main/resources
mybatis:
  typeAliasesPackage: com.menglingqiang.schedule.entity
  mapperLocations: classpath:mybatis/mapper/*.xml
  configLocation: classpath:mybatis/mybatis-config.xml
  mapUnderscoreToCamelCase: true  
---

#开发配置
spring:
  profiles: dev

  datasource:
    url: jdbc:mysql://yourIp/javamail?useUnicode=true&amp;characterEncoding=utf8
    username: userName
    password: password
    driver-class-name: com.mysql.jdbc.Driver
    # 使用druid数据源
    type: com.alibaba.druid.pool.DruidDataSource
  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp
